header {
	font-size: 5em;
	font-family: Courier;
	text-align: center;
	background-color: #ddd;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 1;
}



footer {
	font-size: 0.7em;
	font-family: Courier;
	text-align: center;
	background-color: #ddd;
	padding: 1em;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: 1;
}

a img {
	opacity: 0.5;
	margin: 1em;
}

a:hover img {
	opacity: 1;
}

.img_size {
	width: 375px;
	height:325px;
}

#pair_program {
	display: inline-block;
	position: relative;
	top: 3em;
	left: 3em;
}

#why_pair {
	display: inline-block;
	position: relative;
	top: 5em;
	left: 2em;
}

#driver_navigator {
	display: inline-block;
	position: relative;
	top: 5em;
	left: 2em;
}

