header {
	font-size: 5em;
	font-family: Courier;
	text-align: center;
	background-color: #ddd;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 1;
}



footer {
	font-size: 0.7em;
	font-family: Courier;
	text-align: center;
	background-color: #ddd;
	padding: 1em;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: 1;
}

a img {
	opacity: 0.5;
	margin: 1em;
}

a:hover img {
	opacity: 1;
}

.img_size {
	width: 375px;
	height:325px;
}

#pair_program {
	display: inline-block;
	position: relative;
	top: 3em;
	left: 3em;
}

#why_pair {
	display: inline-block;
	position: relative;
	top: 5em;
	left: 2em;
}

#driver_navigator {
	display: inline-block;
	position: relative;
	top: 5em;
	left: 2em;
}


/*
#banner {
	padding: 1em, 5em, 1em, 5em;
	top: 0%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	text-align: center;
	height: 2em;
	width: 100%;
	min-width: 70%;
	background-color: gray;
	opacity: 0.6;
	color: white;
	font-size: 2em;
}
.sectionPair {
	background-image: url(pairprogram.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 300px;
	width: 300px;
	opacity: 0.8;
	position: relative;
	display: inline-block;
}
.sectionProgram {
	height: 300px;
	width: 300px;
	opacity: 0.8;
	position: relative;
	display: inline-block;
}
.sectionDrive {
	height: 300px;
	width: 300px;
	opacity: 0.8;
	position: relative;
	display: inline-block;
}
#footer {
	right: 10%;
	margin-top: 5em;
	margin-bottom: 1em;
	font-size: 2em;
	color: white;
	background-color: gray;
}

*/

