.title {
  color: #3c393c;
  margin: 0.1em;
}

.heading {
  text-align: center;
  color: #3c393c;
}

h3 {
  text-align: center;
  color: #5b2c83;
}

.list {
  list-style: none;
}

li span {
  color: #5b2c83;
  font-size: 0.75em;
  font-weight: bold;
}

div section a:visited {
  color: #1e1dae;
}

body section a:link {
  color: #c40000;
}

img {
  display: block;
  position: relative;
  left: 20%;
}
