html {
  font-family: Arial;
  background-color: #E8F8FA;

}

.heading {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 0em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  background-color: #b3afaf;
}

.center {
  display: block;
  margin: auto;
  width: 50%;
  background-color: #E8F8FA;
}

.text_center {
  text-align: center;
  line-height: 0.5em;
}

#feature_img {
  display: block;
  max-width: 50%;
  height: auto;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid grey;
}