body {
  width: 100%;
  background-color: #f7f7f7;
  margin-bottom: 5em;
}

section {
  display: inline-block;
  position: relative;
  left: 17%;
  width: 25%;
  height:18em;
  background-color: white;
  border-radius: 5%;
  padding: 0.2em 1.5em 0.5em 1.5em;
  margin: 0em 1em 0em 1em;
}

#section2 {
  position: relative;
  top: 2.3em;
}

section h2 {
  color: black;
}

section ul {
  list-style-type: none;
}

ul li {
  margin: 0.5em;
}

li a {
  text-decoration: none;
  color: purple;
}

li a:hover {
  color: red;
}

li span {
  font-size: 0.8em;
}