html {
  font-family: 'Montserrat', sans-serif;
  background-color: #f7f7f7;
  color: #281a8d;
}

.black {
  color: black;
}

nav ul {
  list-style-type: none;
  opacity: 1;
  background-color: #064c04;
  text-align: left;
  position: fixed;
  margin: 0em;
  padding: 0.5em;
  width: 100%;
  right: 0;
  top: 0;
}


nav ul li {
  display: inline;
  padding: 0.5em;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  text-decoration: none;
  color: white;
}

#avatar {
  display: inline;
  float: left;
  margin: 1em 1em 0em 1em;
  width: 150px;
  height: 170px;
}

body {
  border-radius: 5%;
  width: 50%;
  background-color: white;
  position: relative;
  top: 8em;
  margin: 0 auto 8em auto;
  padding: 0.5em 0.5em 0.5em 1.5em;
}

body div p {
  font-size: 1.35em;
}

#name {
  text-align: right;
  padding-right: 5em;
  font-family: 'Homemade Apple', cursive;
  color: purple;
}


footer p {
  position: fixed;
  bottom: 0;
  left: 48%;
  color: white;
  font-size: 0.7em;
  text-align: center;
}

footer ul {
  list-style-type: none;
  /*background-color: rgba(0,0,0,.2);*/
  background-color: #064c04;
  text-align: center;
  position: fixed;
  margin: 0em;
  padding-top: 0.7em;
  padding-bottom: 2em;
  width: 100%;
  left: 0;
  bottom: 0;
}

footer ul li {
  display: inline;
  margin: 0 0.5em 0 0;
}

footer ul li a {
  text-decoration: none;
  color: white;
}

footer span {
  font-family: 'Homemade Apple', cursive;
}


